{% extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Orders</a>
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('webhooks')}}">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('payment_link')}}"
            >Payment Links</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3 pt-3">
  <form action="{{url_for('payment_link')}}" class="form-inline" method="post">
    <select
      class="selectpicker mr-2 ml-auto form-control mb-3"
      title="Select Order ({{orders.total}})"
      data-live-search="true"
      name="orders"
      data-width="200px"
      data-size="10"
      multiple
    >
      {% for o in orders.items %} {% if o.order_id %} {% if o.order_id not in
      links %}
      <option class="text-success" value="{{o.order_id}}">
        {{o.order_id}}
      </option>
      {% else %}
      <option disabled data-subtext="Already Exists." class="text-danger" value="{{o.order_id}}">
        {{o.order_id}}
      </option>
      {% endif%} {% endif%} {% endfor %}
    </select>
    <button class="btn btn-warning form-control mb-3">
      Generate Payment Link
    </button>
  </form>
  <table class="table">
    <thead>
      <tr class="bg-info text-white">
        <th scope="col">Order ID</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Razorpay Payment ID</th>
        <th scope="col">Updated AT</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders.items %}
      <tr>
        <td scope="row">{{ o.order_id}}</td>
        <td scope="row">{{ o.payment_status}}</td>
        <td scope="row">{{ o.total_amount}}</td>
        <td scope="row">{{ o.amount_paid}}</td>
        <td scope="row">{{ o.razorpay_payment_id}}</td>
        <td scope="row">{{ o.updated_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for page_num in orders.iter_pages(left_edge=1, right_edge=1,
      left_current=1, right_current=2) %} {% if page_num %} {% if orders.page ==
      page_num %}
      <li class="page-item active">
        <a class="page-link" href="#"
          >{{page_num}} <span class="sr-only">(current)</span></a
        >
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('orders', page=page_num)}}"
          >{{page_num}}</a
        >
      </li>
      {% endif %} {% else %}
      <li class="page-item"><span class="page_link ml-2 mr-2"></span></li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
