{% extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Payments</a>
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('orders')}}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('payment_link')}}"
            >Payment Links</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3 pt-3">
  <table class="table">
    <thead>
      <tr class="bg-info text-white">
        <th scope="col">Invoice ID</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Currency</th>
        <th scope="col">Amount</th>
        <th scope="col">Fee</th>
        <th scope="col">Tax</th>
        <th scope="col">Status</th>
        <th scope="col">Created_at</th>
      </tr>
    </thead>
    <tbody>
      {% for p in payments.items %}
      <tr>
        <td scope="row">{{ p.invoice_id}}</td>
        <td scope="row">{{ p.email}}</td>
        <td scope="row">{{ p.phone}}</td>
        <td scope="row">{{ p.currency}}</td>
        <td scope="row">{{ p.amount}}</td>
        <td scope="row">{{ p.fee}}</td>
        <td scope="row">{{ p.tax}}</td>
        <td scope="row">{{ p.status}}</td>
        <td scope="row">{{ p.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for page_num in payments.iter_pages(left_edge=1, right_edge=1,
      left_current=1, right_current=2) %} {% if page_num %} {% if payments.page
      == page_num %}
      <li class="page-item active">
        <a class="page-link" href="#"
          >{{page_num}} <span class="sr-only">(current)</span></a
        >
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('webhooks', page=page_num)}}"
          >{{page_num}}</a
        >
      </li>
      {% endif %} {% else %}
      <li class="page-item"><span class="page_link ml-2 mr-2"></span></li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
